{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{user.first_name}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->



<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{user.first_name}}</span></h1>
            <p>Here are the cars that you have inquired about</p>
            {% include 'includes/messages.html' %}
    </div>
	{% if inquiries %}
		<table class="table table-hover">
		<thead>
			<tr>
			<th scope="col">#</th>
			<th scope="col">Car Name</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for inquiry in inquiries %}
			<tr>
			<th scope="row">{{inquiry.id}}</th>
			<td>{{inquiry.car_title}}</td>
			<td>{{inquiry.email}}</td>
			<td>{{inquiry.phone}}</td>
			<td><a href="{% url 'car-details' inquiry.car_id %}" class="btn btn-outline-dark">View Car</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	{% else %}
		<h4 class="text-center">You have no inquiries</h4>
	{% endif %}
</div>

<!--   Dashboard End   -->

{% endblock content %}